.communication-list {
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border-collapse: collapse;
}

.card{
  margin-top: 20px;
}

.table-scroll-container {
  max-height: 70vh;
  overflow-y: auto;
  font-size: 15px;
}

::ng-deep f-data-grid table {
  width: 100%;
  border-collapse: collapse;

  thead th {
    font-weight: bold;
    text-align: left;
    padding: 12px 16px;
    white-space: nowrap;
  }

  tbody td {
    padding: 10px 16px;
    text-align: left;
    vertical-align: middle;
  }

  tbody tr {
    line-height: 7vh;
  }
}

.header-cell {
  display: flex;
  align-items: center;
  gap: 4px;
}

th.sorted {
  background-color: rgba(0, 0, 0, 0.04);
}

.list-item {
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: block; 
  margin-bottom: 4px; 
  gap: 5px;
  word-wrap: break-word;
}

.list-item span {
  font-size: 14px;
  color: #333;
}

.list-item strong {
  font-weight: bold;
  color: #2c3e50;
}
.add-button{
  position: absolute; 
  top: 20px;
  right: 20px;
}

.list-header, .list-item {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 10px;
  border-bottom: 1px solid #ddd;
  align-items: center;
}

.list-header {
  background-color: #eaeaea;
  font-weight: bold;
}

.list-item {
  background-color: white;
}

.list-item:hover {
  background-color: #f1f1f1;
}

.list-item span, .list-header span {
  padding: 5px 10px;
  text-align: center;
}

.list-container-btn {
  position: relative;
  //left: 0;
  margin-left: 20px;
}

.delete-btn, .edit-btn {
background: none;
border: none;
cursor: pointer;
color: #6c757d;
font-size: 16px;

}

.edit-btn:hover, .delete-btn:hover{
color: #575e64;
}


.certificate{
display: flex;
align-items: center;
}

td{
  word-wrap: break-word;
  word-break: break-all;
}

