.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

::ng-deep .dialog-overlay .f-dialog-container,
::ng-deep .dialog-overlay .f-dialog-container *,
::ng-deep .dialog-overlay .f-dialog-container *::before,
::ng-deep .dialog-overlay .f-dialog-container *::after {
  box-sizing: border-box !important;
  margin: 0 !important;
  
}

.dialog{
  margin: 0;
}

.dialog-content {
  padding: 24px;
  overflow-y: auto;
  background-color: #f9f9f9; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

table tr {
  border-bottom: 1px solid #f0f0f0;
}

table tr:last-child {
  border-bottom: none;
}

table td {
  padding: 12px 8px;
  vertical-align: middle;
}

table td:first-child {
  width: 20%;
  font-weight: 600;
  color: #000;
}

table td:last-child {
  width: 60%; 
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.error-validation {
  color: #dc3545;
  font-size: 14px;
}

.button-group {
  display: flex;
  gap: 12px;
}

.astrick {
  color: #dc3545;
}

.pt-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}


label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #555;
}

input, select {
  width: 96%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s;
}

input:focus, select:focus {
  outline: none;
  border-color: #007bff;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.input-group label {
  flex: 1;
  margin-bottom: 0;
}

.input-group input {
  flex: 2;
}

.button-group-container {
  display: flex;
  align-items: center;
  margin-top: 24px;
  padding-top: 16px;
  justify-content: flex-end;
}

.form-section {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
  background-color: #f8f9fa;
}

::ng-deep .f-dialog .f-dialog-container .f-dialog-content {
  max-height: 60vh !important;
  overflow-y: auto !important;
  flex: 1;
  
}

::ng-deep f-toggle-switch {
  width: 100%;
  display: block;
}

::ng-deep f-toggle-switch label.container {
  width: 12%;
  margin: 0;
  padding-right: 0;
  justify-content: flex-start;
}

.unified-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 0px;
  background-color: #f9f9f9;
}

.unified-table tr {
  border-bottom: 1px solid #f0f0f0;
}

.unified-table tr:last-child {
  border-bottom: none;
}

.unified-table td {
  padding: 12px 10px;
  vertical-align: middle;
}

.unified-table td:first-child {
  width: 20%;
  font-weight: 600;
  color: #000;
}

.unified-table td:last-child {
  width: 60%;
}

